.navlink {
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  transition: transform 0.5s ease-in-out, border-bottom 0.5s ease-in-out, font-size 0.5s ease-in-out;}

.navlink .active {
  transform: scale(1.1) !important;
  will-change: transform;
  border-bottom: 1px solid #8BBAE8;
}
